<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Functional Programming</title>
        <link rel="stylesheet" href="css/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav>
            <a href="/"><h2>$CyptoChris</h2></a>
            <ul>
                <li><a href="/?symbol=btc&pair=usdt">Btc</a></li>
                <li><a href="/?symbol=eth&pair=usdt">Eth</a></li>
                <li><a href="/?symbol=shib&pair=usdt">Shib</a></li>
                <li><a href="/?symbol=xrp&pair=usdt">Xrp</a></li>
            </ul>
        </nav>
        <main>
            <%# kijk voor error %>
            <% if (typeof error=='string' && error) { %>
                <%= error %>
            <% } %>
            <form class="boxShadow">
                <input type="text" name="symbol" placeholder="symbol" id="symbol" value="<% if (typeof symbol == 'string' && symbol) { %><%= symbol %><% } %>" required>
                <label for="pair"><  ></label>
                <input type="text" name="pair" placeholder="pair" id="pair" value="<% if (typeof pair == 'string' && pair) { %><%= pair %><% } %>" required>
                <input type="submit" value="Search">
            </form>
            <%# kijk of datasets bestaan %>
            <% if (typeof dataset2 == 'object' && dataset2 && typeof dataset1=='object' && dataset1) { %>
            <div class="contentWrap ">  
                <div class="coinWrap boxShadow">
                    <div class="coinCont">
                        <%# kijk of symbol en pair bestaat %>
                        <h3><% if (typeof symbol=='string' && symbol) { %>Market: <%= symbol.toLowerCase() %><% } %> - <% if (typeof pair=='string' && pair) { %><%= pair.toLowerCase() %><% } %></h3>
                        <%# render alle Kucoin data%>
                        <div class="divider"><p>Current price</p><h4 style="color: <%= dataset2['color'] %>;"><%= dataset2['last'] %></h4></div>
                        <div><p>Price change (24hr)</p>
                            <h4 style="color: <%= dataset2['color'] %>;"><%= dataset2['changePrice'] + ' (' + dataset2['changeRate'] + ')'%></h4>
                        </div>
                        <div class="makeRow divider">
                            <div><p>Last buy</p><h4><%= dataset2['buy'] %></h4></div>
                            <h4>|</h4>
                            <div><p>Last sell</p><h4><%= dataset2['sell'] %></h4></div>
                        </div>
                        <div class="makeRow divider">
                            <div><p>24hr low</p><h4><%= dataset2['low'] %></h4></div>
                            <h4>|</h4>
                            <div><p>24hr high</p><h4><%= dataset2['high'] %></h4></div>
                        </div>
                        <div class="makeRow divider">
                            <div class=""><p>Volume (24hr)</p><h4><%= dataset2['vol'] %></h4></div>
                            <div><p>Value</p><h4><%= dataset2['volValue'] %></h4></div>
                        </div>
                        <div class="divider"><p>Average price</p><h4><%= dataset2['averagePrice'] %></h4></div>
                    </div>
                    <div class="poweredBy"><p>Powered by: <a href="https://kucoin.com/" target="_blank">Kucoin</a>, raw api: <a href="https://api.kucoin.com/api/v1/market/stats?symbol=BTC-USDT" target="_blank">Kucoin</a></p></div>
                </div>
                <div class="chartBarWrap boxShadow">
                    <h3>Live chart</h3>
                    <div class="chartBarCont divider">
                        <%# loop door object en render Wazirx data%>
                        <% for(let i=0; i < dataset1[1].length; i++) { %>
                        <div class="chartBar" style="height: <%= dataset1[1][i]['pricePerc'] %>em; <% if ( dataset1[1][i]['price'] == dataset1[0].maxprice) {%><%= 'background: #00F346;' %><%}%> <% if ( dataset1[1][i]['price'] == dataset1[0].minprice) {%><%= 'background: #FF4242;' %><%}%>">
                            <div class="chartBarInfo">
                                <p><%= '$ ' + dataset1[1][i]['price'] %></p>
                                <p><%= 'Vol: ' + dataset1[1][i]['volume'] %></p>
                                <p><%= dataset1[1][i]['created_at'] %></p>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <div class="poweredBy"><p>Powered by: <a href="https://wazirx.com/" target="_blank">Wazirx</a>, raw api: <a href="https://api.wazirx.com/api/v2/trades?market=btcusdt" target="_blank">Wazirx</a></p></div>
                </div>
            </div>
            <% } else { %>
                <p><%= 'Search for cryptomarkets. Example symbol BTC, pair USDT' %></p>
                <h3>Populair markets:</h3>
                <ul>
                    <li><a href="/?symbol=btc&pair=usdt">Btc > Usdt</a></li>  
                    <li><a href="/?symbol=eth&pair=usdt">Eth > Usdt</a></li>  
                    <li><a href="/?symbol=shib&pair=usdt">Shib > Usdt</a></li>  
                    <li><a href="/?symbol=xrp&pair=usdt">Xrp > Usdt</a></li>  
                    <li><a href="/?symbol=sol&pair=usdt">Sol > Usdt</a></li> 
                    <li><a href="/?symbol=doge&pair=usdt">Doge > Usdt</a></li>
                    <li><a href="/?symbol=bnb&pair=usdt">Bnb > Usdt</a></li>
                </ul>
            <% } %>
        </main>
    </body>
</html>