<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Functional Programming</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <main>
        <h1>Functional Programming</h1>
        <% for(var j=0; j<uniqQuest.length; j++) { %>
          <div class="questContainer">
              <h3><%= uniqQuest[j] %></h3>
              <h4>Alle antwoorden:</h4>
              <p class="allQuests"><%= sortedAnswers[uniqQuest[j]] %></p>
              <h4>Hoevaak is 1 antwoord gegeven:</h4>
              <div class="grafCont">
                <% for(var i=0; i<Object.entries(countedAnswers[uniqQuest[j]]).length; i++) {
                  var array2 = Object.entries(countedAnswers[uniqQuest[j]])[i].toString().split(",") %>
                  <div class="grafItemCont">
                    <div class="grafItem" style="height: <%= 100 / Object.entries(countedAnswers[uniqQuest[j]]).length * array2[1] %>px;">
                      <p class="answerCount"><%= array2[1] %></p>
                      <p><% if(array2[0].length > 10) { %><%=array2[0].substring(0, 10) + '...'%> <%} else { %> <%= array2[0] %> <% } %></p>
                      </div>
                  </div>
                <% } %>
                
              </div>
          </div>
        <% } %>

    </main>
  </body>
</html>